@charset "utf-8";
/* CSS Document */

@media (max-width: 650px) {
	body.custom-background {
		background-attachment: scroll;
	}
}

body{
    list-style: none;
}
.head-picture {
    height: 35rem;
    background-image: url('../arriere_plan.jpg');
    background-position: center bottom;
    background-size: cover;
}
ul{
    list-style:none;
}
a{
    text-decoration:none;
}
section{
    width: 100%;
    height: 100px;
    background-color: black;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0, 2);
    padding:0px, 5%;
}
nav ul{
    display: flex;
}

nav ul li a {
    margin:45px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    color:#CE9A28;
    font-size: 25px;
    
}

.down-cv{
    background-color: #1f1f1d;
    color:#CE9A28;
    border:2px solid #373636;
    margin:20px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.personal_pic{
    display: inline;
    margin:45px;
}

h1{
    color:#fdfdfd;
    font-size: 45px;
    font-family:'Raleway', sans-serif; 
    font-weight:200;
    margin-left: 18.5%;

}

h2{
    color:#fdfdfd;
    font-size: 45px;
    font-family:'Raleway', sans-serif; 
    font-weight:200;

}
.normal-paragraph {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight:200;
    font-size: 21px;
    margin-left: 20%; 
    line-height: 38px;   
}

.my-span{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight:200;
    font-size: 21px;
    margin-top: 3.5%;
    margin-left: 10%;
}
.incise{
    color:white;
    font-size: 26px;
    font-weight:thin;
    font-family: 'Raleway', sans-serif;
    margin-left: 20%;
}

hr{
    border-color:#CE9A28;
}
.iconDetails {
    float:left;  
} 
    
.container1{ 
    width:900px;
    height:400px;
    padding:1%;
    margin-left:20%;
    margin-top: 10%;
    background-color:rgba(0, 0, 0, 0.6);
    
}

.container2{ 
    width:100%;
    height:400px;
    padding:1%;
    margin-top: 0.01%;
    background-color:rgba(0, 0, 0, 0.6);
    
}
